<div class="jumbotron">
  <h1 class='custom_h1'>Let the Community Help Tell YOUR Story!</h1>
  <p></p>
  <p></p>
</div>
<h2>Recent Stories</h2>

<% @stories.each do |s| %>
<h3><%= link_to s.title, story_path(s.id) %></h3>
<hr>
<% end %>
