<h1>Start a new Story!</h1>
<%= form_for @story do |f|%>
Story Title: <%=  f.text_field :title %>
<br>
Story Content: <%= f.text_field :content, :class => 'form-size' %>
<br>
<%= f.submit %>
<% end %>
