/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* Custom CSS by Garrett Estrin | Garrett.Estrin.com */

body {
  max-width: 1200px;
  margin: 0 auto;
}
 .form-size-large {
    font-size: 18px;
    padding: 5px;
    width: 100%;
    height: 300px;
 }

 .form-size-medium {
    font-size: 18px;
    padding: 5px;
    width: 100%;
    height: 200px;
 }

 .form-size-small {
    font-size: 18px;
    padding: 5px;
    width: 100%;
    height: 50px;
 }

.nav_form {
  height: 69px;
  padding-top: 30px;
  padding-left: 20px;
}

.nav_start {
  height: 69px;
  padding-top: 19px;
}

a:hover {
  text-decoration: none;
}

// Make text large

.big-text {
  font-size: 50px !important;
}

.md-text {
  font-size: 35px !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

// Story titles
.s_title {

}

.navigation a {
  color: black;

}

h1 a {
  font-size: 45px;
  color: white !important;
}

h3 a {
  color: #5fba7d;
}

h3 a:hover {
  color: #275035;
}

.background {
  background-image: url(http://d279m997dpfwgl.cloudfront.net/wp/2014/10/1023_campfire-COG-1000x547.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: 'Old Standard TT', serif;
}

.custom_h1 h1 {
  border: solid white 10px;
}

.smaller_text {
  font-size: 20px;
}

.left-border {
  border-left: solid lightgrey 5px;
}

.right-border {
  border-right: solid lightgrey 2px;
}

.text-white a {
  color: white;
}

.kbd {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 90%;
}

.inline {
  display: inline;
}
