/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* Custom CSS by Garrett Estrin | Garrett.Estrin.com */

 .form-size-large {
    font-size: 18px;
    padding: 5px;
    width: 600px;
    height: 600px;
 }

 .form-size-medium {
    font-size: 18px;
    padding: 5px;
    width: 600px;
    height: 200px;
 }

.nav_form {
  height: 69px;
  padding-top: 30px;
  padding-left: 60px;
}

.nav_start {
  height: 69px;
  padding-top: 19px;
}

a:hover {
  text-decoration: none;
}

// Make text large

.big {
  font-size: 50px;
}

// Story titles
.s_title {

}

.navigation a {
  color: black;
}

h1 a {
  font-size: 45px;
  color: white !important;
}
